@import url('https://fonts.googleapis.com/css?family=Montserrat::100,200,300,400,500,600,700,800,900');



body {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  background-color: #1c1c1b;
}


/*--------------------------------------- HEADER NAVBAR*/

/*header {*/

/*  background-color: #1c1c1b;*/

/*  top: 0px;*/

/*z-index: 2;*/

/*}*/

#nav {
  /*display: inline-block;*/
  position: fixed;

  left: 65px;
  top: 20px;
  /*z-index: 1;*/
}

#nav,
.menucontainer,
.menuitem {
  background-color: #ff6262;
  color: #030303;
  margin-left: 40px;
  margin-top: 40px;
}

.logo {
  /*display: block;*/
  font-size: 24px;
  background-color: #030303;
  width: 130px;
  height: 130px;
  color: #ff6262;
  font-style: italic;
  padding-top: 90px;
  padding-right: 13px;
  text-align: right;
  font-weight: 400;
  letter-spacing: -1px;
  margin-left: 40px;
  margin-top: 40px;
}

a:hover {
  text-decoration: none;
}

.menuitem a {
  color: #000;
  width: 100%;
}

.menuitem {
  padding: 0px;
  padding-left: 10px;

  font-size: 22px;
  display: block;
  margin: 0 0 10px;
  border: 4px solid #000;
  height: 38px;
  overflow: hidden;
  text-align: center;
  color: #000;
  letter-spacing: -1px;
  text-align: left;

}

.list-group-item,
.list-group-item:first-child,
.list-group-item:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-top: 4px;
  margin-bottom: 4px;
}

.list-group-item a {
  text-decoration: none;
}

.list-group-item:hover {
  background-color: #000;
  color: #ff6262;

}

/*----------------------------------------- BACKGROUNDs*/

.bg-grey {
  /*top: 0;*/
  /*left: 0;*/
  height: 100%;
  width: 100%;
  /*display: inline-block;*/
  background-color: #806c47;
  height: 100vh;
  z-index: -1;
}

.bg-purple {
  /*float:left;*/
  height: 100%;
  width: 100%;
  height: 100vh;
  display: inline-block;
  background-color: #600472;
  z-index: -1;
}

.bg-yellow {
  float: left;
  background-color: #fbf578;
  height: 100%;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

/*===============================================*/

.bg-grey2 {
  background-color: #806c47;
  height: 200px;
  width: 200px;;
}

.bg-purple2 {
  background-color: #600472;
  height: 200px;
  width: 200px;;
}

.bg-yellow2 {
  background-color: #fbf578;
  height: 200px;
  width: 200px;
}
